@import 'tailwindcss';

@theme {
  --color-primary: #ff883e;
  --color-secondary: #2c2c2b;
  --color-secondary-dark: #201f1d;
  --color-background: #3f3d3b;
  --color-background-dark: #323230;
  --color-secondary-foreground: #b5b5b5;
  --color-error: #eb1400;
  --color-error-light: #ff6f61;
  --color-warning: #c36a2d;
  --color-success: #43a047;
}
